.gopy{
    text-align: center;
    font-variant: small-caps;
}
.ten {
    width: 400px;
    height: 30px;
    
}
.diachi{
    width: 400px;
    height: 30px;
    
}
.sdt{
    width: 400px;
    height: 30px;
    
}
.email{
    width: 400px;
    height: 30px;
   
}
.noidung{
    width: 400px;
    height: 200px;
    
}