.ttlh{
    color: black;
    font-size: medium;
}
.dt{
    color: yellowgreen;
}
.ten {
    width: 100%;
    height: 30px;
}
.diachi{
    width: 100%;
    height: 30px;
}
.sdt{
    width: 100%;
    height: 30px;
}
.email{
    width: 100%;
    height: 30px;
}
.noidung{
    width: 100%;
    height: 200px;
}